.selected {

    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    align-items: center;
    text-align: center;
    vertical-align:middle;
    line-height: 60px;
}
section{
    min-width: 1440px;
}
ul{
    list-style: none;
}
li{
    border: 1px solid  #C4C4C4;
    width: 263px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    display: inline-block;
}
#img1{
    position: absolute;
width: 18px;
height: 34px;
left: 247px;
top: 478px;

}
#img2{
    position: absolute;
width: 18px;
height: 33.5px;
left: 247px;
top: 551px;

}
#main1{
    width: 263px;
    height: 79px;
    background: #C4C4C4;
    text-align: center;
    line-height: 79px;
    vertical-align: middle;
    align-items: center;
    font-size: 36px;
    color: white;
    
}
#gamerule{
    float: right;
}
#vtab {
    background-color: white;
}
#vtab > ul {
    float: left;
    width: 263px;
    height: 77.5px;
    text-align: center;
    align-items: center;
    display: block;
    margin: auto 0;
    padding: 0;
    position: relative;
    top: 30px;
}
#vtab > div {
    margin-left: 282px;
    border: 1px solid #ddd;
    min-height: 500px;
    padding: 12px;
    position: relative;
    z-index: 9;
}
#vtab > div > h4 {
    color: #800;
    font-size: 1.2em;
    border-bottom: 1px dotted #800;
    padding-top: 5px;
    margin-top: 0;
}