#navintro{position: absolute;
     top: 0px;
     width: 100%;
     height: 597px;
     
     background: #E6DAD4;
     }    

#intro{position: absolute;
     width: 1234px;
     height: 289px;
     left: 52px;
     top: 87px;
     
     font-family: Roboto;
     font-style: normal;
     font-weight: bold;
     font-size: 65px;
     line-height: 76px;
     text-align: center;}

#section{border-radius: 0px;
     position: absolute;
     top: 600px;
     width: 100%;
     height: 3182px;
     background-color: white;
     text-align: center;
}
#team{text-align: center;
     position: absolute;
     top: 30px;
     left: 30px;
     width: 441px;
     height: 444px;
     
     font-family: Roboto;
     font-style: normal;
     font-weight: 500;
     font-size: 25px;
     line-height: 29px;
     display: flex;
     align-items: center;
     
     color: #000000;}

#name{font-family: Roboto;
     font-style: normal;
     font-weight: bold;
     font-size: 48px;
     line-height: 56px;
     text-align: center;}

#surprised{position: absolute;
     left: 993px;
     right: 139.56px;
     top: 318px;
     bottom: 79px}

#circle1{border-radius: 265px;
     display: inline-block;
     position: absolute;
     width: 534px;
     height: 530px;
     top: 177px;
     left: 62px;
    
     
     background: rgba(255, 223, 223, 0.85);}

#circle2{border-radius: 265px;
     display: inline-block;
     position: absolute;
     width: 534px;
     height: 530px;
     left: 696px;
     top: 177px;
     
     background: rgba(255, 223, 223, 0.85);}

#circle3{border-radius: 265px;
     display: inline-block;
     position: absolute;
     width: 534px;
     height: 530px;
     left: 74px;
     top: 841px;
     
     background: rgba(255, 223, 223, 0.85);       
     }

#circle4{border-radius: 265px;
     display: inline-block;
     position: absolute; 
     width: 534px;
     height: 530px;
     left: 693px;
     top: 841px;
     
     background: rgba(255, 223, 223, 0.85);
     }

#circle5{border-radius: 265px;
     display: inline-block;
     position: absolute;
     width: 534px;
     height: 530px;
     left: 381px;
     top: 1507px;
     bottom: 739px;
     right: 423px;
     
     background: rgba(255, 223, 223, 0.85);}

footer{position: absolute;
     top: 3182px;
     width: 100%;
     height: 210px;
     
     background: #E6DAD4;
     }

#slogo{position: absolute;
     top: 0px;
     left: 519px;
     height: 35px;
     
     font-family: Roboto;
     font-style: normal;
     font-weight: bold;
     font-size: 30px;
     line-height: 35px;
     display: flex;
     align-items: center;
     text-align: center;}

#logoshape{position: absolute;
     left: 558px;
     top: 2333px;
     }

#add{position: absolute;
     height: 25px;
     left: 210px;
     top: 100px;
     
     font-family: Roboto;
     font-style: normal;
     font-weight: 500;
     font-size: 23px;
     line-height: 27px;
     display: flex;
     align-items: center;
     text-align: center;
     
     color: #000000;}
#click{position: absolute;
     top: 2445px;
     left: 804px;
     font-size: 30px;
}

#gohomepage{
    position: relative;
     width: 1234px;
     height: 289px;
     top : 2050px;
     
     font-family: Roboto;
     font-style: normal;
     font-weight: bold;
     font-size: 55px;
     line-height: 64px;
     text-align: center;
     
     color: #000000;
}