nav {
    background-image: url("main.jpg");
    background-size: 1500px 1000px;
    opacity: 0.5;
}

nav {
    height: 300px;
    text-align: center
}

div {
    display: inline-block;;
    font-size: 30px;
    width: 150px;
    text-align: center;
}

div > a {
    color: white;
}

div:hover {
    background: black;
}

section {
    background-color: burlywood;
    height: 450px;
}

article {
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    color: rgb(109, 84, 54);
    font-size: 30px;
    position: absolute;
    left: 50px;
}

table {
    position: absolute;
    left: 40px;
    top: 400px;
}

th, td {
    padding: 15px;
}

td {
    text-align: center;
}

.button {
    width: 100px;
    padding: 10px;
}

.line {
    border-bottom: 2px soild black;
}

h5 {
    position: absolute;
    width: 226px;
    height: 82px;
    left: 10px;
    top: -100px;

    font-family: Yaldevi Colombo SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 85px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #674938;

}

h6 {
    position: absolute;
    width: 226px;
    height: 82px;
    left: 100px;
    top: -50px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 59px;
    display: inline-block;
    align-items: center;
    text-align: center;

    color: black;

}

h3 {
    position: absolute;
    width: 226px;
    height: 82px;
    left: 50px;
    top: 180px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 59px;
    display: inline-block;
    align-items: center;
    text-align: center;

    color: white;
}